<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Title</title>
</head>
<body>

     {{>header}}
    <h1>help hbs</h1>
    <P>{{msg}}</P>
     <P>{{>footer}}</P>

</body>
</html>