<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>help</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <h1>help hbs</h1>
    <P>{{msg}}</P>
</div>

     <P>{{>footer}}</P>

</body>
</html>